<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kitchenstories">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KitchenStories">
        <activity android:name=".SummaryReviewActivity"></activity>
        <activity android:name=".AppSupportActivity" />
        <activity android:name=".AllReviewActivity" />
        <activity android:name=".EditReviewActivity" />
        <activity android:name=".WriteReviewActivity" />
        <activity android:name=".RatingReviewActivity" />
        <activity android:name=".CreateProfile" />
        <activity android:name=".TopFoodsActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".DeliveryActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".FavouriteActivity" />
        <activity android:name=".Pay_hereActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SummaryOfRecipeActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".KitchenStoriesActivity"
            android:exported="true" />
        <activity
            android:name=".EditRecipeActivity"
            android:exported="true" />
        <activity
            android:name=".CategoryActivity"
            android:exported="true" />
        <activity
            android:name=".AddSuccessActivity"
            android:exported="true" />
        <activity
            android:name=".AddRecipeActivity"
            android:exported="true" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".ViewProfileActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".EditExpertActivity" />
        <activity android:name=".DisplayExpertActivity" />
        <activity android:name=".AddExpertActivity" />
        <activity android:name=".MeetExpertActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>